# Iodine-Library specific
bin/*
!bin/LibIodine.dll
docs
examples
extras
tests
tools
Ion
build_iodine_nuget.bat
install.sh
iodine_run.sh
test.sh
uninstall.sh

# Binaries

# Useless VS/MonoDevelop crap
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
*.nlp
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.usertasks
*.mdb

# Iodine bytecode cache
.iodine_cache

# Allow the Debug source directory
!src/Iodine/Runtime/Debug
# @SplittyDev's personal files
bin/splitty/

# .deps for tests/
tests/.deps
